.card {
    max-width: 20rem;
    width: 100%;
    border-radius: 10px;
    background-color: #A29CBB;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.container {
    background-color: #F1B2AC;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 1rem;
}

.container p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    text-decoration: none;
}

.card img {
    max-height: 15rem;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.link {
    text-decoration: none;
}