.inputBar {
    border: none;
    border-radius: 2rem;
    padding: 10px;
    margin-right: 1rem;
}

.btnBar {
    background: #ccc;
    color: #555;
    border: none;
    padding: 10px;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.btnBar:hover {
    background: #555;
    color: #fff;
    transform: scale(1.05);
}